.area {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn {
    background: #46244C;
    width: 150px;
    height: 50px;
    border: 5px solid #D49B54;
    font-family: 'Play', serif;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
    color:white;
  }
  
  .btn::before, .btn::after {
    position: absolute;
    background: #46244C;
    z-index: -1;
    transition: 1s;
    content: '';
  }
  
  .btn::before {
    height: 60px;
    width: 120px;
  }
  
  .btn::after {
    height: 20px;
    width:160px;
  }
  
  .btn:hover::before {
    width: 0px;
    background: #C74B50;
  }
  
  .btn:hover::after {
    height: 0px;
    background: #C74B50;
  }
  
  .btn:hover {
    background: #C74B50;
  }
